@page
@model LatvijasPasts.Pages.CV.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PersonalInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalInfo.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalInfo.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalInfo.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalInfo.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalInfo.Email)
        </dd>
        <hr />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalInfo.Educations)
        </dt>
        <dd class="col-sm-10">
            <ul>
                <style>
                    table {
                        width: 600px;
                        text-align: center;
                        vertical-align: middle;
                    }

                    th, td {
                        border: 1px solid black;
                        padding: 10px;
                        text-align: center;
                        width: 25%;
                </style>
                <table>
                    <thead>
                        <tr>
                            <td>University</td>
                            <td>Faculty</td>
                            <td>Degree</td>
                            <td>Education Status</td>
                        </tr>
                    </thead>
                @foreach (var education in Model.PersonalInfo.Educations)
                    {
                        <table>
                            <tbody>
                                <tr>
                                    <td>@education.InstitutionName</td>
                                    <td>@education.Faculty</td>
                                    <td>@education.Degree</td>
                                    <td>@education.IsCompleted</td>
                                </tr>
                            </tbody>
                        </table>
                }
            </ul>
        </dd>
        <hr />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalInfo.WorkExperiences)
        </dt>
        <dd class="col-sm-10">
            <ul>
            <table>
                    <thead>
                        <tr>
                            <td>CompanyName</td>
                            <td>Position</td>
                            <td>Years In Company</td>
                            <td>Job Description</td>
                        </tr>
                    </thead>
                @foreach (var workExp in Model.PersonalInfo.WorkExperiences)
                        {
                     <table>
                        <tbody>
                            <tr>
                                <td>@workExp.CompanyName</td>
                                <td>@workExp.Position</td>
                                <td>@workExp.YearsOfExperience</td>
                                <td>@workExp.Description</td>
                            </tr>
                        </tbody>
                    </table>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PersonalInfo.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
